body {
    margin: 50px;
    margin-left: 180px;
    background-color: black;
    font: Beige;
}
.container {
    position: relative;
    color: white;
    width: 100%;
    height: auto;
    }
h1 {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: Beige;
}
h2 {
  color: Beige;
}
h3 {
    color: Beige;
}
a {
  color: Beige;
  text-decoration: none;

}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    padding-top: 40px
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    display: block;
}
.sidenav a:hover {
    color: white;
}
